<h1>
    My Name is <%= ["Bella", "Bell-dog", "Bella-blott"].sample %>
</h1>
<div>
    <img src='https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-0/p206x206/64322699_739963769757834_6433882716172713984_n.jpg?_nc_cat=102&_nc_oc=AQnTZzJdU8YBGsAFND7UW3v3_EMrw__70p8VuewTUq5pfjqMfy-86AdzHp83gKU1Flg&_nc_ht=scontent-lht6-1.xx&oh=fb792795fa4c73999c27c48175a9e5da&oe=5E20683B'
        style='border: 3px dashed red'>
</div>